@charset "UTF-8";

@media screen and (min-width: 1440px) {
    body{
        background-color: rgb(12, 18, 44);
    }
    .fundo{
        width: 100vw;
        height: 420px;
        position: absolute;
        top: 45%;
    }
    .fundo > picture > img{
        width: 100%;
        height: 100%;
    }

    main{
        background-color: transparent;
        height: 800px;
        width: 1400px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .fylo{
        display: inline-block;
        width: 375px;
        position: absolute;
        left: 200px;
        top: 250px;
    }

    .storage{
        display: inline-block;
        width: 500px;
        position: absolute;
        left: 600px;
        top: 260px;
    }
    .storage > p{
        text-align: left;
        margin-left: 40px;
    }
    .storage > .barra-externa{
        width: 400px;
    }
    .storage > .barra-externa > .barra-interna{
        width: 300px;
    }
    .storage > .barra-externa > .barra-interna > .circle{
        margin-left: 285px;
    }
    .storage > .tamanho1{
        left: 10px;
    }
    .storage > .tamanho2{
        left: 350px;
    }

    .size{
        position: absolute;
        top: 220px;
        left: 900px;
    }
    .size > .ponta{
        display: inline-block;
    }
}