@charset "UTF-8";

@media screen and (min-width:1440px){
    body{
      height: 800px;
    }
    main{
      width: 1100px;
      height: 750px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    main > img{
      margin-left: 50px;
    }
    main > picture > img{
      position: absolute;
      margin-top: 100px;
      margin-left: -60px;
      width: 600px;
    }
    .future{
      position: absolute;
      top: 48%;
      left: 4%;
    }
    .future > h1{
      display: inline-block;
      padding-right: 30px;
      font-size: 2.8em;
    }
    .future > p{
      display: inline-block;
      position: absolute;
    }
    .future > button{
      position: absolute;
      top: 60%;
    }

    .destaque{
      position: absolute;
      left: 62%;
      top: 12%;
    }

    .numeros{
      position: absolute;
      top: 75%;
      left: 4%;
    }
    .numeros > div > h2{
      width: 190px;
    }
    .numeros > div{
      display: inline-block;
    }
    .numeros > div:nth-child(1){
      margin-right: 230px;
    }
    .numeros > div:nth-child(2){
      margin-right: 210px;
    }

    main > .menu-icone{
      display: none;
    }
    .menu{
      display: block;
      margin-top: 10px;
      height: 80px;
      width: 550px;
      position: absolute;
      left: 500px;
    }
    .menu > img{
      display: none;
    }
    .menu > nav{
      margin: 30px 0px 0px 0px;
    }
    .menu > nav > p{
      display: inline-block;
      margin: 0px 15px;
    }
    .back{
      display: none;
    }
  }