@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

*{
    font-size: 13px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
:root{
    --violet: rgb(117, 65, 200);
    --grayishBlue: rgb(72, 85, 106);
    --blackishBlue: rgb(25, 33, 46);
    --gray: rgb(207, 207, 207);
    --lighishBlue: rgb(236, 242, 248);
}

/* 
- Mobile: 375px
- Desktop: 1440px

Note for text colors:

1. "Verified Graduate" has the same color as the person's name with 50% opacity
2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity 
*/